.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player img{
    position: absolute;
    top: 10px;
    left: 5px;
    width: 70px;
    cursor: pointer;
}
.player iframe{
    border-radius: 10px;
}
.player .player-info{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}